<div class="container-fluid">
        <% if @user.errors.any? %>
          <ul>
            <% @user.errors.full_messages.each do |msg|%>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        
        <%# https://guides.rubyonrails.org/form_helpers.html %>
        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email%>
            <%= f.text_area :email, class: "form-control" %>
          </div>
          <%= f.submit class: "btn btn-outline-primary" %>
        <% end %>
</div>