<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">Blog On Rails</a>
            <div class="ml-auto d-flex flex-row">        
              <div class="nav-item nav-link"><%= link_to 'Home', root_path %></div>
              <div class="nav-item nav-link"><%= link_to 'New Post', new_post_path %></div>
            </div>
        </nav>
    </div>

    <%= yield %>
  </body>
</html>


